*.iml
.gradle
Grade
build.gradle
gradle.properties
gradlew
gradlew.bat
Settings.graddle
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
.gradle/
app/google-services.json
